<div class="day-view">

  <div class="day-header">
    <button (click)="goToPreviousDay()">«</button>
    <h2>{{ dayDate().toLocaleString(DateTime.DATE_HUGE) }}</h2>
    <button (click)="goToNextDay()">»</button>
  </div>

  <div class="hour-grid">
    <div class="hour-block" *ngFor="let hour of hours; let i = index">
      <div class="hour-label">{{ hour }}</div>
    </div>

    <div class="events-container">
      <div *ngFor="let event of calendarService.getEventsForDate(dayDate().toISODate()!)()">
        <div
          class="event"
          *ngIf="calendarService.eventVisible(event)"
          [ngStyle]="getEventStyle(event)"
          [style.background-color]="event.color"
          (click)="onEventClick(event)"
        >
          <div class="event-content">
            <strong>{{ event.eventName }}</strong>
            <div>{{ event.sTime }} - {{ event.eTime }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
